
<h1>Edit Rating for <%= @asc[:title] %></h1>

<form action="/ratings/<%= @rating[:id] %>/update" method="post">
  <div class="form-group">
    <label>Submit your rating on <%= @asc[:title] %> </label>
    <select class="form-control" name="rating">
    #put the dropdown in
      <% if @rating[:rating] %>
        <option value="1" selected>Yes</option>
        <option value="0">No</option>
      <% else %>
        <option value="1">Yes</option>
        <option value="0" selected>No</option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"><%= @rating[:comments] %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>