<div class="row">
  <div class="col text-center">
    <img src="https://t7.rbxcdn.com/0df996231f013f37ecc05102a03bba02">

    <h1 class='mt-5'>Stop trying to hack ASC Ratings!</h1>
    <p><a href="/" class="btn btn-primary">Go Back Home</a></p>
  </div>
</div>